<!-- Describe task in general -->

<p>
    Тобі дається {% if is_js %}масив{% else %}кортеж{% endif %}, що складається з цілих чисел та інших {% if is_js %}масивів{% else %}кортежів{% endif %}, що в свою чергу також можуть містити {% if is_js %}масиви{% else %}кортежі{% endif %}.
</p>

<p>
    Твоє завдання полягає в тому, щоб з'ясувати, наскільки глибока ця структура чи наскільки глибоке вкладення цих {% if is_js %}масивів{% else %}кортежів{% endif %}.
</p>
{% if is_js %}
<p>
    Наприклад, у масиві <b class="code">[1, 2, 3]</b> глибина вкладеності становить 1. A в масиві <b class="code">[1, 2, [3]]</b> глибина вкладеності - 2, оскільки один із елементів першого масиву також масив. І в масиві <b class="code">[1, 2, [3, [4]]</b> глибина вкладеності становить 3, оскільки один із елементів першого масиву є масивом, але оскільки всередині він містить інший масив, він збільшує глибину на один, тому глибина вкладеності виявляється 3.
</p>
<p>
    Важливо зазначити, що порожній масив також збільшує глибину структури, тобто <b class="code">[]</b> - вказує на глибину вкладеності 1, <b class="code">[[]]</b> - вказує на глибину 2.
</p>
{% else %}
<p>
    Наприклад, у кортежі <b class="code">(1, 2, 3)</b> глибина вкладеності становить 1. А в кортежі <b class="code">(1, 2, (3,))</b> глибина вкладеності - 2, оскільки один із елементів першого кортежу також є кортежем. І в <b class="code">(1, 2, (3, (4,)))</b> глибина вкладеності становить 3, оскільки один із елементів першого кортежу - це кортеж, але оскільки всередині він містить інший кортеж, він збільшує глибину на один, тому глибина вкладеності виявляється 3.
</p>
<p>
    Важливо зазначити, що порожній кортеж також збільшує глибину структури, тобто <b class="code">()</b> - вказує на глибину 1, <b class="code">(((),)</b> - вказує на глибину гніздування 2.
</p>
{% endif %}

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив з масивів з масивів{% else %}Кортеж з кортежів з кортежів{% endif %}...цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> Ціле число. 
</p>

<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
