<!-- Describe task in general -->

<p>
    You are given {% if interpreter.slug == "js-node" %}an array{% else %}a tuple{% endif %} that consists of integers and other {% if interpreter.slug == "js-node" %}arrays{% else %}tuples{% endif %}, which in turn can also contain {% if interpreter.slug == "js-node" %}arrays{% else %}tuples{% endif %}. 
</p>

<p>
    Your task is to find out how deep this structure is or how deep the nesting of these {% if interpreter.slug == "js-node" %}arrays{% else %}tuples{% endif %} is.
</p>

<p>
For example, in the [1,2,3] array the depth of nesting is 1. And in the [1,2, [3]] array the depth of nesting is 2, since one of the elements of the first array is also an array. And in the [1,2, [3, [4]]] array the depth of nesting is 3, since one of the elements of the first array is an array, but since inside it contains another array, it increases the depth by one, so the nesting depth turns out to be 3.
</p>

<p>
    It’s important to note that an empty array also increases the depth of the structure, that is, [] - indicates the nesting depth 1, [[]] - indicates the nesting depth 2.
</p>



<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}Array of array of array...{% else %}Tuple of tuple of tuple...{% endif %}
</p>

<p>
    <strong>Output: </strong> Int. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">howDeep([1, 2, 3]) == 1
howDeep([1, 2, [3]]) == 2
</pre>
{% else %}
<pre class="brush: python">how_deep([1, 2, 3]) == 1
how_deep([1, 2, [3]]) == 2
</pre>
{% endif %}
</div>

<p>
    <strong>Precondition: </strong> Given iterables have to be well founded. 
</p>
