<!-- Describe task in general -->

<p>
    Вам дан {% if is_js %}массив{% else %}кортеж{% endif %}, который состоит из целых чисел и других {% if is_js %}массивов{% else %}кортежей{% endif %}, которые тоже могут иметь внутри {% if is_js %}массивы{% else %}кортежи{% endif %}.
</p>
<p>
    Ваша задача узнать на сколько глубока эта структура или какая глубина вложенности этих {% if is_js %}массивов{% else %}кортежей{% endif %}.
</p>
{% if is_js %}
<p>
    Например, в массиве <b class="code">[1, 2, 3]</b> глубина вложенности равна 1. А в массиве <b class="code">[1, 2, [3]]</b> глубина вложенности равна 2, так как один из элементов первого массива равен также массив. А в массиве <b class="code">[1, 2, [3, [4]]]</b> глубина вложенности равна 3, так как один из элементов первого массива является массивом, но так как внутри он содержит другой массив, то увеличивает глубину на единица, поэтому глубина вложенности получается равной 3.
</p>
<p>
    Важно отметить, что пустой массив также увеличивает глубину структуры, то есть <b class="code">[]</b> - указывает на глубину вложенности 1, <b class="code">[[]]</b> - указывает на глубину вложенности 2.
</p>
{% else %}
<p>
    Например, в кортеже <b class="code">(1, 2, 3)</b> глубина вложенности равна 1. А в кортеже <b class="code">(1, 2, (3,))</b> глубина вложенности равна 2, так как один из элементов первого набора также является кортежем. А в кортеже <b class="code">(1, 2, (3, (4,)))</b> глубина вложенности равна 3, так как один из элементов первого кортежа является кортежем, но так как внутри он содержит другой кортеж, то увеличивает глубину на единицу, поэтому глубина вложенности получается равной 3.
</p>
<p>
    Важно отметить, что пустой кортеж также увеличивает глубину структуры, то есть <b class="code">()</b> - указывает на глубину вложенности 1, <b class="code">((),)</b> - указывает на глубину вложенности 2.
</p>
{% endif %}

<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> {% if is_js %}Массив из массивов из массивов{% else %}Кортеж из кортежей из кортежей{% endif %}...целых чисел.
</p>

<p>
    <strong>Выходные данные:</strong> Целое число. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
 
