<!-- Describe task in general -->

<p>
    Вам дан Массив{% if interpreter.slug == "js-node" %}(Array){% else %}(tuple){% endif %}, который состоит из integers и других массивов. И эти массивы тоже могут внутри иметь массивы.
</p>
<p>
    Ваша задача узнать на сколько глубока эта структура или какая глубина вложенности этих массивов.
</p>
<p>
    Например массив: [1,2,3] - имеет глубину вложенности 1. А массив [1,2, [3]] - имеет глубину 2, т.к. один из элементов первого массива тоже массив. А массив [1,2,[3,[4]]] - имеет глубину 3, т.к. один из элементов первого массива - массив, но т.к. внутри него тоже массив - это увеличивает глубину еще на один и получается 3.
</p>
<p>
    Важно заметить, что пустой массив также увеличивает глубину структуры, т.е. [] - глубина 1, [[]] - глубина 2.
</p>



<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}Array of array of array...{% else %}Tuple of tuple of tuple...{% endif %}
</p>

<p>
    <strong>Output: </strong> Int. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">howDeep([1, 2, 3]) == 1
howDeep([1, 2, [3]]) == 2
</pre>
{% else %}
<pre class="brush: python">how_deep([1, 2, 3]) == 1
how_deep([1, 2, [3]]) == 2
</pre>
{% endif %}
</div>
 
